# ------------------------------------------------------------------------------
# SERVER PORT
# ------------------------------------------------------------------------------
# The port number used for run the server.
# Leave blank to use the default port (3000).
# The port number must be between 1 and 65535.
# Recomended to use a port between 1024 and 49151.
PORT=3000

# ------------------------------------------------------------------------------
# DATABASE URL
# ------------------------------------------------------------------------------
# Connection string for the SQLite database.
# Leave this blank will automatically generate an SQLite file in the project root directory.
# An invalid URL will cause Prisma to fail during database migration.
DATABASE_URL="file:dev.db"

# ------------------------------------------------------------------------------
# JWT SECRET
# ------------------------------------------------------------------------------
# Secret key that used for JWT token.
# Leave this blank will use the default "secret" key.
# WARNING: Never use the default key in production, as it allows users to compromise server security system.
JWT_SECRET="secret"